/* @font-face{
    font-family: "Mazut SP";
    src: url('MazutSP-Demo.otf');
}
@font-face{
    font-family: 'PTSans';
    src: url('./PT_Sans-Web-Regular.ttf');
    font-weight: normal;
    font-size: normal;
}
@font-face{
    font-family: 'PTSans';
    src: url('./PT_Sans-Web-Bold.ttf');
    font-weight: bold;
    font-size: normal;
} */
 
/* h1{
    font-family: "PT Sans" sans-serif;
    font-weight: 400;
    font-style: normal;
    color: rgb(189, 245, 5);
}
.first{
    color: rgb(245, 5, 93);
}
#second{
    color: rgb(5, 169, 245);
    letter-spacing: 50px;
}
.news h2{
    color: rgb(245, 101, 5);
    word-spacing: 50px;
}
.news p{
    font-family: "PT Sans" sans-serif;
    font-weight: 400;
    font-style: italic;
    color: rgb(255, 217, 0);
} */

/* px
font-size 16px
kalit so'zlari orqali
font-size large
%yoki em o'rqali
font size 100%
font size 1em
rem 
font size .5rem
em otasidan oladi 
rem header dan oladi */

/* text-transformer
tex-transformer uppercase-SOZ HAMMASI KOTTA HARIFTA
text-transformer lowercase-so'z hammasi kichkina harifda
text transform capitalize-So'z Hammasi Kichkina Harifta */

/* text-decoration; text-decoration-line text-decoration-color text-decoration-style text-decoration-thickness */

@font-face{
    font-family: "Calibri";
    src: url('./calibri.ttf');
}
h1{
    font-family: 'Calibri';
    font-weight: 24px;
    font-size: 24px;
    text-decoration: dashed underline;
    color: red;
}

p{
    font-family: 'Calibri';
    font-weight: 24px;
    font-size: 24px;
    text-decoration: line-through;
}