*{
    margin: 0;
    padding: 0;
    font-size: 100%;
}

.container{
    display: flex;
    /* height: 500px; */
    /* flex-wrap: nowrap; nowrap joy yetrmasa pastka churmidi wrap joy yetmasa oxirgi elementnii pastka churadi wrap-reverse joy yetmasa oxirgi elementni tepaga chiqaradi  */
    /* flex-direction: row-reverse; row standart holatda gorizantal qoib berish column vertikal joylashtirish reverse sozi qoshilsa masalan column-reverse bloklar teskari joylashadi */
    /* flex-flow: row-reverse nowrap; */
    flex-wrap: wrap;
    flex-direction: row;
    padding: 20px;
    justify-content: space-around; /*start oq boshidan end oq ohiridan center ortaga spece-between orasida joy qoldirgan xolatda bowida va oxirida joy qoldirmidi space-around teng ravishda joy qoldiradi */
}

.first{
    background: red;
}

.second{
    background: yellow;
}

.third{
    background: green;
}

.container div{
    height: 100px;
    width: 200px;
}